<header class="bg-dark text-white p-2">
  <div class="row w-100">
    <div class="col-12 col-sm-6">
      <div class="d-flex flex-column">
        <h4 class="m-0 mb-1">Outcome Based Education</h4>
        <h6 class="m-0">Guru Nanak Dev Engineering College, Ludhiana</h6>
      </div>
    </div>
    <div class="col-12 col-sm-6 px-0">
      <div class="d-flex align-items-center justify-content-end">
        <button class="btn btn-light mt-1" (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
