<div class="row w-100 m-0">
    <div class="col px-0">
        <div class="card border">
            <div class="card-header bg-white border-0">
                <div class="d-flex flex-column">
                    <h3 class="m-0">POs Attainment Levels and Actions</h3>
                    <div class="d-flex flex-row justify-content-between">
                        <app-filters (courseSelections)="getSelectedCourse($event)"></app-filters>
                        <button style="width: 100px;" class="btn btn-primary btn-lg ">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row w-100 m-0 mt-2">
    <div class="col px-0">
        <div class="card border">
            <div class="table-responsive">
                <table class="table table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>POs</th>
                            <th>Target Level</th>
                            <th>Attainment Level</th>
                            <th>Observation</th>
                        </tr>
                    </thead>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO1</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO1</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO2</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO2</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO3</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO3</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO4</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO4</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO5</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO5</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO6</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO6</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO7</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO7</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO8</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO8</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO9</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO9</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO10</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO10</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO11</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO11</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PO12</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PO12</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class="border bg-white">
                        <h4 class="m-0 p-2">PSO1</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PSO1</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                    <div class=" bg-white">
                        <h4 class="m-0 p-2">PSO2</h4>
                    </div>
                    <tbody>
                        <tr class="">
                            <td>PSO2</td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><input type="text" class="formcontrol"></td>
                            <td><textarea type="text" class="formcontrol w-100"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>